<!DOCTYPE html>
<html>
<body>

<h1> YTDL webserver </h1>
<p>/list to list all contents in directories.</p>
<p>/mp4?id= to download an MP4</p>
<p>/mp3?id= to download an MP3</p>
<p>http://DNS/mp4?id="VideoIdHere"</p>

</body>
</html>
